.input-field {
  width: 320px;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 0;
   
}

.input-field.dark {
  background-color: var(--neutral-800);
  color: var(--neutral-100);
}

.input-field.light{
  background-color: var(--neutral-0);
  color: var(--neutral-500);
}

.input-label{
   font-family: var(--text-preset-4-family);
    font-weight: var(--text-preset-4-weight);
    font-size:  var(--text-preset-4-size);
    line-height: var(--text-preset-4-line-height);
    letter-spacing: var(--text-preset-4-letter-spacing);
    padding-bottom: 2px;

}




.input-field-wrapper {
    position: relative;
    display: block;
    width:100%;
    height: 45px;
    font-family: var(--text-preset-4-medium);
    font-weight: var(--text-preset-4-medium-weight);
    font-size:  var(--text-preset-4-medium-size);
    line-height: var(--text-preset-4-medium-line-height);
    letter-spacing: var(--text-preset-4-medium-letter-spacing);
}

.input-field-input{
  margin: 0;
  width: 100%;
  height: 100%;
 
  border-radius: var(--spacing-150);
  
  
    padding-left: var(--spacing-400); /* 32px; legalább icon width + left offset */
  
  
  
  font-family: var(--text-preset-4-medium);
  font-weight: var(--text-preset-4-medium-weight);
  font-size:  var(--text-preset-4-medium-size);
  line-height: var(--text-preset-4-medium-line-height);
  letter-spacing: var(--text-preset-4-medium-letter-spacing);   
}


.input-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-54%);
   
    pointer-events: none;
    opacity: 0.9;
    
}



.bottom-texts{
  width:100%; 
}

.hint-and-counter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:98%;
}

.hint-and-counter p{
  padding-top: 2px;
  font-family: var(--text-preset-4-medium);
  font-weight: var(--text-preset-4-medium-weight);
  font-size:  var(--text-preset-4-medium-size);
  line-height: var(--text-preset-4-medium-line-height);
  letter-spacing: var(--text-preset-4-medium-letter-spacing);
}





/* Colors for dark and light themes */

/* default*/

.input-label.dark{
  background-color: var(--neutral-800);
  color: var(--neutral-100);
  
}

.input-label.light{
  background-color: var(--neutral-0);
  color: var(--neutral-800);
  
}


.input-field-input.dark{
  background-color: var(--neutral-600);
  color: var(--neutral-100);
 
  border: 1px solid var(--neutral-300);
}
.input-field-input.light{
  background-color: var(--neutral-0);
  color: var(--neutral-800);
  border: 1px solid var(--neutral-500);   
}



.hint-and-counter p.dark{
  color: var(--neutral-100);
  background-color: var(--neutral-800);
}


.hint-and-counter p.light{
  color: var(--neutral-500);
  background-color: var(--neutral-0);
}

/* Hover */


.input-field-input.dark:hover{
  background-color: var(--neutral-500);
  color: var(--neutral-100);
 
  border: 1px solid var(--neutral-400);
}
.input-field-input.light:hover{
  background-color: var(--neutral-100);
  color: var(--neutral-800);
  border: 1px solid var(--neutral-500);   
}



.hint-and-counter > p.dark{
  color: var(--neutral-100);
  background-color: var(--neutral-800);
}


.hint-and-counter > p.light{
  color: var(--neutral-800);
  background-color: var(--neutral-0);
}


/* Focus */


.input-field-input.dark:focus-visible{
  background-color: var(--neutral-100);
  color: var(--neutral-800);
  outline: 3px double var(--neutral-400);
  border: 1px solid var(--neutral-400);
 

}
.input-field-input.light:focus-visible{
  background-color: var(--neutral-0);
  color: var(--neutral-800);
  outline: 3px double var(--neutral-500);
  border: 1px solid var(--neutral-500);   
 
}


p.error{
  background-color: var(--neutral-600);
  color: var(--neutral-100);
  outline: 2px solid var(--red-600);
  border: 1px solid var(--red-600);
 

}

p.error{
  background-color: var(--neutral-0);
  color: var(--neutral-800);
  outline: 2px solid var(--red-600);
  border: 1px solid var(--red-600);
}
